<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Carnet de Note Scrabble</title>
</head>
<body>
    <h1 align="center">Carnet de Note Scrabble</h1>
    <div class="container">
        <form action="/play" method="POST">

            <input type="text" id="player1" placeholder="Enter The Player1's name" name="player1" required autocomplete="off">
            <input type="text" id="player2" placeholder="Enter The Player2's name" name="player2" required autocomplete="off">

            <button class="submit">Start</button>
        </form>
    </div>
</body>
</html>